@import _partials

body
    background-color $bg

.wrapper
    width 700px
    position fixed
    top 50%
    left 50%
    transform translate(-50%, -50%)

.logo
    float left

.text
    z-index 14
    float right
    font-family 'Kanit', sans-serif
    font-size 5em
    margin-top 11%
    margin-left 25px

span
    font-family 'Khand', sans-serif

.pol1
    position relative
    z-index 10
    width 280px
    height 280px
    background-color $branco
    -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)

.pol2
    position relative
    width 230px
    height 230px
    background-color $preto
    -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    top 50%
    left 50%
    transform translate(-50%, -50%)

.pol3
    position relative
    width 130px
    height 130px
    background-color $branco
    -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    top 50%
    left 50%
    transform translate(-50%, -50%)

.pol4
    position absolute
    z-index 9
    margin 0 0 0 0
    width 120px
    height 120px
    background-color $preto
    -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    top 70%
    left 11%

.pol5
    position absolute
    z-index 9
    margin 0 0 0 0
    width 120px
    height 120px
    background-color $preto
    -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    bottom 70%
    left 11%

.pol6
    position absolute
    z-index 9
    margin 0 0 0 0
    width 120px
    height 120px
    background-color $preto
    -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    top 50%
    left 28%

.pol7
    position absolute
    z-index 9
    margin 0 0 0 0
    width 120px
    height 120px
    background-color $preto
    -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    top 50%
    left -6%

.pol8
    position absolute
    z-index 9
    margin 0 0 0 0
    width 120px
    height 120px
    background-color $preto
    -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    bottom 50%
    left 28%

.pol9
    position absolute
    z-index 9
    margin 0 0 0 0
    width 120px
    height 120px
    background-color $preto
    -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
    bottom 50%
    left -6%